@function size-768($min, $max, $viewport-max, $viewport-min) {
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - #{$viewport-min + px}) / $viewport-max) * 2);
}

@function size-1400($min, $max, $container-size) {
  // $min = minimum, $max = maximum
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - 768px) / $container-size) * 2);
}

.footer {
  background-color: black;
  padding: 75px 50px;
  background-image: url("@img/footer/footer__back--ua.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 500px 220px;

  @media (max-width: 1400px) {
    background-size: size-1400(400, 500, 1400) size-1400(176, 220, 1400);
  }

  @media (max-width: 768px) {
    background-image: url("@img/footer/footer__nike--768.png");
    background-size: size-768(167, 400, 768, 375) size-768(74, 176, 768, 375);
    padding: size-768(26, 75, 768, 375) size-768(20, 50, 768, 375);
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;

    @media (max-width: 768px) {
      gap: size-768(3, 50, 768, 375);
    }
  }

  &__link {
    font-size: 20px;
    color: white;

    @media (max-width: 768px) {
      font-size: size-768(10, 20, 768, 375);
    }
  }
}