@function size-768($min, $max, $viewport-max, $viewport-min) {
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - #{$viewport-min + px}) / $viewport-max) * 2);
}

@function size-1400($min, $max, $container-size) {
  // $min = minimum, $max = maximum
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - 768px) / $container-size) * 2);
}

.more {
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 50px;

    @media (max-width: 768px) {
      font-size: size-768(16, 40, 768, 375);
      margin-bottom: size-768(22, 30, 768, 375);
      margin-left: 21px;
    }
  }

  &-membership {
    background-image: url("@img/more/more__background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 44px 0 44px 50px;

    @media (max-width: 768px) {
      padding: 13px 0 8px 20px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @media (max-width: 768px) {
        gap: size-768(9, 25, 768, 375);
      }
    }

    &__title {
      font-size: 40px;
      line-height: 48px;
      font-weight: 900;
      font-style: italic;
      color: white;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: size-768(16, 40, 768, 375);
        line-height: size-768(19, 48, 768, 375);
        ;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
      color: white;

      @media (max-width: 768px) {
        font-size: size-768(12, 20, 768, 375);
        line-height: size-768(14.5, 24, 768, 375);
        ;
      }

      &--bold {
        font-weight: 700;
      }
    }

    &__link {
      display: block;
      background-color: white;
      color: black;
      width: 150px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border-radius: 16px;

      @media (max-width: 768px) {
        width: size-768(70, 150, 768, 375);
        height: size-768(25, 40, 768, 375);
        font-size: size-768(10, 16, 768, 375);
        border-radius: size-768(5, 16, 768, 375);
      }
    }
  }
}