@function size-768($min, $max, $viewport-max, $viewport-min) {
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - #{$viewport-min + px}) / $viewport-max) * 2);
}

@function size-1400($min, $max, $container-size) {
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - 768px) / $container-size));
}

.never {
  box-sizing: border-box;

  @media (max-width: 768px) {
    min-height: size-768(343, 716, 768, 375);
  }

  &__nike {
    &__image {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 768px) {
      height: 14px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 300px;
    background-color: black;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      max-height: inherit;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__qr {
    position: relative;

    @media (max-width: 768px) {
      order: 1;
    }
  }

  &__qr,
  &__faces {
    min-height: 164px;
  }

  &__faces {
    @media (max-width: 375px) {
      height: 164px;
      min-height: 164px;
    }
  }
  &__block {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50px;
    color: white;

    @media (max-width: 1400px) {
      left: size-1400(20, 50, 700);
      top: size-1400(16, 50, 700);
      height: calc(100% - size-1400(16, 50, 700));
    }

    @media (max-width: 768px) {
      left: size-768(20, 50, 768, 375);
      top: size-768(16, 50, 768, 375);
      height: calc(100% - size-768(16, 50, 768, 375));
    }
  }

  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    font-style: italic;
    text-transform: uppercase;

    @media (max-width: 1400px) {
      font-size: size-1400(20, 42, 700);
      line-height: size-1400(27, 51, 700);
    }
    @media (max-width: 768px) {
      font-size: size-768(16, 40, 768, 375);
      line-height: size-768(16, 32, 768, 375);
    }
  }

  &__text {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    max-width: 559px;
    margin-top: 29px;
    margin-right: 93px;

    @media (max-width: 1400px) {
      margin-top: size-1400(13, 29, 700);
      line-height: size-1400(13, 24, 700);
      font-size: size-1400(13, 22, 700);
    }

    @media (max-width: 768px) {
      margin-top: size-768(15, 25, 768, 375);
      line-height: size-768(15, 28.5, 768, 375);
      font-size: size-768(12, 21, 768, 375);
      max-width: 415px;
    }
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px 24px;
    color: #000;
    background-color: #fff;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    margin-top: 30px;
    font-size: 16px;

    @media (max-width: 1400px) {
      padding: 9px 9px 9px 13px;
      width: size-1400(115, 220, 700);
      height: size-1400(30, 45, 700);
      margin-top: size-1400(24, 30, 700);
      font-size: size-1400(10, 16, 700);
      border-radius: size-1400(5, 16, 700)
    }

    @media (max-width: 768px) {
      padding: 9px 9px 9px 13px;
      margin-top: 12px;
      font-size: calc(10px + 30 * ((100vw - 375px) / 768));

      width: calc(115px + 323*(100vw - 375px) / 768);
      height: calc(30px + 60*(100vw - 375px) / 768);
      border-radius: 5px;
      position: absolute;

      bottom: calc(16px + 24 * (100vw - 375px) / 768);
    }
  }

  @media (max-width: 768px) {
    height: size-768(344, 716, 768, 375);
  }
}