@function size-768($min, $max, $viewport-max, $viewport-min) {
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - #{$viewport-min + px}) / $viewport-max) * 2);
}

@function size-1400($min, $max, $container-size) {
  // $min = minimum, $max = maximum
  $diff: $max - $min;
  @return calc(#{$min + px} + $diff * ((100vw - 768px) / $container-size) * 2);
}

.new {
  // min-height: 500px;
  // max-height: 1000px;
  // height: 1000px;

  @media (max-width: 768px) {
    height: size-768(500, 903, 768, 375);
  }

  .container__new {
    // overflow: hidden;
    height: 100%;
    // height: 1000px;
    background-image: url("@img/new/new__blurr--big.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 664px;

    @media (max-width: 1400px) {
      // padding-top: 600px;
      padding-top: size-1400(300, 677, 1400) // padding-top: size-1400(300, calc(1000 * 0.6), 1400)
    }

    // @media (max-width: 1300px) {
    //   padding-top: 500px;
    // }

    // @media (max-width: 1200px) {
    //   padding-top: 32vw;
    // }

    @media (max-width: 768px) {
      height: 500px;
      padding-top: size-768(168, 300, 768, 375);
      // height: size-768(500, 794, 768, 375);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-top: -4px;
  }

  &__sneakers {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    gap: 77px;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
      gap: 51px;
      // padding: 0 25px;
      // bottom: -140px;
    }

    @media (max-width: 1350px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 768px) {
      padding: 0 size-768(25, 50, 768, 375);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    font-style: italic;
    color: #FF3939;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: 768px) {
      // transform: scale(0.5);
      // font-size: 16px;
      font-size: size-768(16, 48, 768, 375);
    }
  }

  &__text {
    font-size: 20px;
    // line-height: 24px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;

    @media (max-width: 768px) {
      // transform: scale(0.5);
      font-size: size-768(12, 20, 768, 375);
    }
  }

  &__link {
    position: absolute;
    left: 66px;
    bottom: 22px;
    margin-top: 15px;
    margin-left: 34px;

    @media (max-width: 768px) {
      // bottom: size-768(19, 22, 768, 375);
      // bottom: 19px;
      left: size-768(2, 66, 768, 375);
      bottom: size-768(6, 19, 768, 375)
    }
  }

  &__arrow {
    @media (max-width: 768px) {
      width: size-768(25.21, 56, 768, 375);
      height: size-768(25.21, 56, 768, 375);
      // width: 25.21px;
      // height: 25.38px;
    }
  }
}

.sneaker-item {
  width: 602px;
  height: 273px;
  padding: 60px 0 24px 66px;
  background-color: #EFEFEF;
  border-radius: 18px;
  box-shadow: 5px 5px 25px 0px #00000040;
  position: relative;
  // transform: scale(1);
  // transition: transform 0.3s ease;

  // @media (max-width: 1500px) {
  //   transform: scale(0.9);
  // }

  // @media (max-width: 1400px) {
  //   transform: scale(0.8);
  // }

  // @media (max-width: 1200px) {
  //   transform: scale(0.9);
  // }

  @media (max-width: 768px) {
    width: size-768(301, 602, 768, 375);
    height: size-768(136, 273, 768, 375);
    padding: 30px 0 0 32px;
    padding:
      size-768(30, 60, 768, 375) 0 0 size-768(30, 60, 768, 375);
    // width: 335px;
    // height: 153px;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2509803922);
  }

  &__image {
    position: absolute;

    // @media (max-width: 768px) {
    //   position: absolute;
    //   width: 322px;
    //   height: 278px;
    //   top: -63px;
    //   // right: -65px;
    //   right: -40px;
    // }

    &--1 {
      top: -4px;
      right: -33px;
      // width: 411px;
      // height: 233px;
      transform: rotate(-29deg);

      @media (max-width: 768px) {
        top: size-768(-1, -4, -768, 375);
        right: size-768(-10, -33, 768, 375);
        width: size-768(202, 411, 768, 375);
        height: size-768(116, 230, 768, 375);
      }
    }

    &--2 {
      transform: rotate(-31deg);
      top: 5px;
      right: -13px;

      // top: 7px;
      // right: 16px;
      @media (max-width: 768px) {
        top: size-768(-1, -4, -768, 375);
        right: size-768(-10, -33, 768, 375);
        width: size-768(202, 411, 768, 375);
        height: size-768(116, 230, 768, 375);
      }
    }
  }
}